<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.neusoft.modules.role.mapper.RoleMapper">
	<sql id="RoleColumns">
		a.id AS "id",
		a.role_name AS "roleName"
	</sql>
	
	<select id="get" parameterType="String" resultType="Role">
		SELECT
			<include refid="RoleColumns"/>
		FROM Role a
		WHERE a.id = #{id}
	</select>
	
	<select id="selAll" resultType="Role">
		SELECT 
			<include refid="RoleColumns"/>
		FROM Role a
	</select>
	
</mapper>